[Desktop Entry]
Type=Application
Name=Lectern
GenericName=Markdown Viewer
Comment=View Markdown files
Exec=lectern %U
Icon=io.github.osandum.Lectern
Terminal=false
NoDisplay=false
StartupNotify=true
StartupWMClass=lectern
Keywords=Markdown;md;CommonMark;GFM;viewer;reader;
MimeType=text/markdown;text/x-markdown;
Categories=GNOME;GTK;Office;Viewer;
