[Desktop Entry]
Type=Application
Name=mdview
GenericName=Markdown Viewer
Comment=View Markdown files
Exec=/home/osa/dev/mdview/.venv/bin/mdview %U
Icon=text-x-generic-symbolic
Terminal=false
NoDisplay=false
StartupNotify=true
MimeType=text/markdown;
Categories=GNOME;GTK;Office;Viewer;
